<%= form_for @artist, :url => artists_path, :html => { :multipart => true } do |f| %>
  <label> What's your screen name? </label>
  <%= f.text_field :name %>
  <label> Let us know what is your email for future contatcs. Who knows, right? ;) </label>
  <%= f.text_field :email %>
  <label> We would really like to know more about your music! :) Tell us about your work and preferences: </label>
  <%= f.text_field :description %>
  <label> Almost done! Pick a nice picture for your profile: </label>
  <%= f.file_field :avatar %>
  <%= f.submit "Let's go!" %>
<% end %>