<%= form_for @artist, url: {action: "update"}, :html => { :multipart => true } do |f| %>
    <div class="row">
      <div class="small-6 small-centered columns">
        <fieldset>
          <legend class="bg-color">Tell us about yourself</legend>

          <%= f.text_field :name, placeholder: "Name. That one you use up on stage." %>
          <%= f.text_field :email, placeholder: "Email. Because people may want to hire you!" %>
          <%= f.text_area :description, placeholder: "Talk about yoursef. All the things you think is important to let people know upfront.", class: "non-resiseable" %>
          <%= f.text_field :soundcloud_playlist, placeholder: "Do you have a Soundcloud playlist?" %>
          <%= f.text_field :youtube_playlist, placeholder: "Do you have a Youtube playlist?" %>

          <div>
            <%= f.file_field :avatar, placeholder: "Choose you avatar!", class: "hidden-input" %>
          </div>

          <%= f.submit "Let's go!", class: "button large expand" %>
        </fieldset>
      </div>
    </div>
<% end %>