<div class="row content-top-margin">
  <div class="small-10 small-centered columns">
    <ul class="small-block-grid-4">

      <%= render 'panel' %>
      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "metallica.jpg", class: "image" %>
          </div>
          <p class="image-caption">Metallica</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "sabbath.jpg", class: "image" %>
          </div>
          <p class="image-caption">Black Sabbath</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "anitta.jpg", class: "image" %>
          </div>
          <p class="image-caption">Anitta</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "lenine.jpg", class: "image" %>
          </div>
          <p class="image-caption">Lenine</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "iron.jpg", class: "image" %>
          </div>
          <p class="image-caption">Iron Maiden</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "daleste.jpg", class: "image" %>
          </div>
          <p class="image-caption">Mc DaLeste</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "taylor.jpg", class: "image" %>
          </div>
          <p class="image-caption">Taylor Swift</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "megadeth.jpg", class: "image" %>
          </div>
          <p class="image-caption">Megadeth</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "motorhead.jpg", class: "image" %>
          </div>
          <p class="image-caption">Motörhead</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "sublime.jpg", class: "image" %>
          </div>
          <p class="image-caption">Sublime</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "queen.jpg", class: "image" %>
          </div>
          <p class="image-caption">Queen</p>
        </div>
      </li>

      <li class="full-size">
        <div class="image-panel">
          <div class="image-container">
            <%= image_tag "audioslave.jpg", class: "image" %>
          </div>
          <p class="image-caption">Audioslave</p>
        </div>
      </li>
    </ul>

    <div class="row">
      <div class="small-4 small-centered columns">
        <a href="#" class="button tiny radius pagination-button right">Newer</a>
        <a href="#" class="button tiny radius pagination-button left">Older</a>
      </div>
    </div>

  </div>
</div>