<% content_for :head do %>
  <script type="text/javascript" src="scripts/soundcloud.player.api.js"></script>
  <script type="text/javascript">
       soundcloud.addEventListener('onPlayerReady', function(player, data) {
         player.api_play();
       });
  </script>
<% end %>

<div class="row content-top-margin profile-stage">
  <div class="small-5 columns profile-left">
    <div class="profile-avatar-container">
      <%= image_tag @artist.avatar.url, class: "profile-avatar" %>
    </div>
    <div class="profile-name-container">
      <p class="name"><strong><%= @artist.name %></strong> @since <%= @artist.created_at.strftime("%d/%m/%Y - %H:%M") %></p>
    </div>
    <div class="profile-description-container">
      <p class="description"><%= @artist.description %></p>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns profile-buttons">
        <%= link_to "Edit", edit_artist_path(@artist), class: "button tiny" %>
        <%= link_to "Remove", @artist, class: "button tiny red",:confirm => "Are you sure?", :method => :delete %>

      </div>
    </div>
    <div class="wuffo">
      <%= render "contact" %>
    </div>
  </div>
  <div class="small-7 columns profile-right bg-color">
    <div class="soundcloud">
      <p>Soundcloud Playlist</p>
      <% if @artist.soundcloud_playlist.present? %>
        <%= render 'soundcloud' %>
      <% end %>
    </div>
    <div class="youtube">
      <p>Youtube Playlist</p>
      <% if @artist.youtube_playlist.present? %>
        <iframe src="//<%= @artist.youtube_playlist%>" frameborder="0" allowfullscreen class="flex_video"></iframe>
      <% end %>
    </div>
  </div>
</div>